.bg-login-image {
	background: url('../img/mesgk.jpeg');
	background-position: center;
	background-size: cover;
}

.malert {
	text-align: center;
	padding: 10px;
	border-radius: 50px;
	margin-bottom: 1em;
	display: none;
	position: relative;
}

.malert.merror {
	border: 1px solid #721c24;
	background: #fff;	
	color: #721c24;
}

.malert.msuccess {
	border: 1px solid #4bc300;
	background: #fff;
	color: #4bc300;
}

.malert > span:first-child {
	position: absolute;
	left: 10px;
	top: 5px;
	font-size: 25px;
}

.malert > p.mclose {
	position: absolute;
	right: 10px;
	top: -4px;
	font-size: 21px;
	cursor: pointer;
}

.scrolable-content::-webkit-scrollbar  {
    width: 3px;
  }
   
.scrolable-content::-webkit-scrollbar-thumb {
background: #e5e5e5; 
border-radius: 10%;
}

.scrolable-content::-webkit-scrollbar-track {
background: #fff;
}

.scrolable-content {
width: 20px;
overflow: auto;
margin: 0 10px;
}

.scrolable-content {
width: 100% !important;
margin: 0 0px;
}

#mabout-me.scrolable-content {
    max-height: calc(100vh - 400px)
}

#mabout-me > li {margin-bottom: 1rem;}

#mabout-me > li > p {
	margin-bottom: 0;
}