<% include header %>   

<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary float-left">Editor</h3>
            <a href="#" class="btn btn-success float-right editor-save" >Save</a>
        </div>
        <div class="card-body row editor scrolable-content">

        	<div class="col-sm-12">

        		<div class="form-group">

                    <h6>HTML Editor</h6>
                    <article id="edit-content"></article>

                </div>

        	</div>

            <div class="col-sm-12">

                <div class="form-group">
                    <h6>CSS Editor</h6>
                    <article id="edit-styles"></article>
                </div>
                <div style="margin: 20px">
                    <a href="#" class="btn btn-success float-right editor-save" >Save</a>
                </div>
            </div>

        </div>	
    </div>

</div>

<div style="display: none;">
    <textarea id="data-styles"><%=styles;%></textarea>
    <textarea id="data-content"><%=content;%></textarea>
</div>
<!-- /.container-fluid -->
<% include footer %> 
<% include codemirror %>  

<script type="text/javascript">
var htmlEditor, cssEditor;
$(document).ready(function(){

    htmlEditor = CodeMirror(document.getElementById('edit-content'), {
        value: $('#data-content').val(),
        lineNumbers: true,
        mode: "text/html",
        keyMap: "sublime",
        autoCloseBrackets: true,
        matchBrackets: true,
        showCursorWhenSelecting: true,
        theme: "monokai",
        tabSize: 4,
        styleActiveLine: true,
        autoCloseTags: true,
        lineWrapping: true,
        extraKeys: {"Ctrl-Space": "autocomplete"}
    });

    cssEditor = CodeMirror(document.getElementById('edit-styles'), {
        value: $('#data-styles').val(),
        lineNumbers: true,
        mode: "text/css",
        keyMap: "sublime",
        autoCloseBrackets: true,
        matchBrackets: true,
        showCursorWhenSelecting: true,
        theme: "monokai",
        tabSize: 2,
        styleActiveLine: true,
        autoCloseTags: true,
        lineWrapping: true,
        extraKeys: {"Ctrl-Space": "autocomplete"}
    });
});
</script>
