<% include header %>   

<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Editor</h6>
        </div>
        <div class="card-body row editor">

        	<div class="col-sm-12">

        		<div class="form-group">

                    <h3>HTML Editor</h3>
                    <article id="edit-content"><%=styles;%></article>

                </div>

        	</div>

            <div class="col-sm-12">

                <div class="form-group">
                <h3>CSS Editor</h3>
                    <article id="edit-styles"><%=content;%></article>
                </div>

            </div>




        </div>	
    </div>

</div>
<!-- /.container-fluid -->
<% include footer %> 
<% include codemirror %>  

<script type="text/javascript">
var htmlEditor, cssEditor;
$(document).ready(function(){

    htmlEditor = CodeMirror(document.getElementById('edit-content'), {
        value: '',
        lineNumbers: true,
        mode: "text/html",
        keyMap: "sublime",
        autoCloseBrackets: true,
        matchBrackets: true,
        showCursorWhenSelecting: true,
        theme: "monokai",
        tabSize: 2,
        styleActiveLine: true,
        autoCloseTags: true,
        lineWrapping: true,
        extraKeys: {"Ctrl-Space": "autocomplete"}
    });

    cssEditor = CodeMirror(document.getElementById('edit-styles'), {
        value: '',
        lineNumbers: true,
        mode: "text/css",
        keyMap: "sublime",
        autoCloseBrackets: true,
        matchBrackets: true,
        showCursorWhenSelecting: true,
        theme: "monokai",
        tabSize: 2,
        styleActiveLine: true,
        autoCloseTags: true,
        lineWrapping: true,
        extraKeys: {"Ctrl-Space": "autocomplete"}
    });
});
</script>
