
<% include header %>   

<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">GET FILE</h6>
        </div>
        <div class="card-body">

        	<div class="col-sm-5">

        		<input type="text" id="target-file" class="form-control" placeholder="Target File" />

        		<div style="margin-bottom: 1em;"></div>

        		<input type="file" id="upload-file" />

				<div style="margin-bottom: 1em;"></div>
				
				<div class="myProgress hide" id="file-progress">
					<div style="width: 0%;">0%</div>
				</div>

				<div class="malert merror">
                    <span>!</span>
                    <p class="mclose">x</p>
                </div>

        		<a href="#" id="download-btn" class="btn btn-primary" >Download</a> / <a href="#" id="upload-btn" class="btn btn-success" >Upload</a>
        	</div>
        </div>	
    </div>

</div>
<!-- /.container-fluid -->
<% include footer %>    